abbr, address, article, aside, audio, b, blockquote, body, button, canvas, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, summary, time, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box
}

abbr:after, abbr:before, address:after, address:before, article:after, article:before, aside:after, aside:before, audio:after, audio:before, b:after, b:before, blockquote:after, blockquote:before, body:after, body:before, button:after, button:before, canvas:after, canvas:before, cite:after, cite:before, code:after, code:before, dd:after, dd:before, del:after, del:before, details:after, details:before, dfn:after, dfn:before, div:after, div:before, dl:after, dl:before, dt:after, dt:before, em:after, em:before, fieldset:after, fieldset:before, figcaption:after, figcaption:before, figure:after, figure:before, footer:after, footer:before, form:after, form:before, h1:after, h1:before, h2:after, h2:before, h3:after, h3:before, h4:after, h4:before, h5:after, h5:before, h6:after, h6:before, header:after, header:before, hgroup:after, hgroup:before, html:after, html:before, i:after, i:before, iframe:after, iframe:before, img:after, img:before, ins:after, ins:before, kbd:after, kbd:before, label:after, label:before, legend:after, legend:before, li:after, li:before, mark:after, mark:before, menu:after, menu:before, nav:after, nav:before, object:after, object:before, ol:after, ol:before, p:after, p:before, pre:after, pre:before, q:after, q:before, samp:after, samp:before, section:after, section:before, small:after, small:before, span:after, span:before, strong:after, strong:before, sub, summary:after, summary:before, sup, time:after, time:before, ul:after, ul:before, var:after, var:before, video:after, video:before {
    box-sizing: border-box
}

sub, sup {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent
}

sub:after, sub:before, sup:after, sup:before {
    box-sizing: border-box
}

body {
    -webkit-font-smoothing: antialiased;
    font-size: 0
}

a:after, a:before {
    box-sizing: border-box
}

caption, table, tbody, td, tfoot, th, thead, tr {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

li, ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: "";
    content: none
}

:focus {
    outline: 0
}

input[type=text], textarea {
    -webkit-appearance: none
}

input[type=text]::-ms-clear, textarea::-ms-clear {
    display: none
}

input, textarea {
    border-radius: 0;
    box-sizing: border-box;
    -webkit-appearance: none
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: gray
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: gray
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: gray
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: transparent
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color: transparent
}

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
    color: transparent
}

textarea {
    resize: none
}

ins {
    text-decoration: none
}

del {
    text-decoration: line-through
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

* {
    box-sizing: border-box;
    word-wrap: break-word
}

a {
    text-decoration: none
}

#header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    text-align: center;
    z-index: 55;
    border-bottom: 3px solid #f2f2f2
}

#header, #header img {
    height: 3.541vw
}

#header .tour-select {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    width: 15vw;
    height: 3.541vw;
    background-color: #e3530c;
    border-radius: 3px;
    font-family: Rubik, sans-serif;
    font-size: 1.093vw;
    font-weight: 700;
    text-transform: uppercase;
    color: #f2f2f2
}

#header .tour-select:hover {
    cursor: pointer
}

#tour {
    display: none;
    width: 25vw;
    position: fixed;
    right: 0;
    top: 3.541vw;
    height: 100vh;
    background-color: #fff;
    border-left: 3px solid #f2f2f2;
    z-index: 99999;
    float: right;
    padding: 0 1.77vw
}

#tour .choose-type {
    margin-top: 15.625vw;
    text-align: center
}

#tour .choose-type .icon {
    width: 3.541vw;
    height: 3.541vw
}

#tour .choose-type button {
    display: block;
    margin-top: 1.77vw;
    width: 21.45833vw;
    height: 2.864vw;
    border: 2px solid #f2f2f2;
    border-radius: 3px;
    font-family: Rubik, sans-serif;
    font-weight: 700;
    font-size: 1.093vw;
    line-height: 2.7vw;
    text-transform: uppercase;
    color: #e3530c;
    text-decoration: none;
    text-align: center
}

#tour .choose-type button:hover {
    background-color: #e3530c;
    border: none;
    border-radius: 3px;
    color: #f2f2f2;
    cursor: pointer
}

#tour .hashtag {
    margin-top: 13.02083vw;
    text-align: center
}

#tour .hashtag .hashtag-btn button {
    width: 7.5vw;
    height: 2.187vw;
    margin: .677vw;
    font-family: Rubik, sans-serif;
    font-size: .833vw;
    text-transform: uppercase;
    font-weight: 700;
    color: #e3530c;
    border: 2px solid #f2f2f2;
    border-radius: 3px
}

#tour .hashtag .hashtag-btn button.checked {
    background-color: #e3530c;
    color: #fff
}

#tour .hashtag .hashtag-btn button:hover {
    cursor: pointer
}

#tour .hashtag .tour-check-btn {
    display: block;
    margin-top: 3.541vw;
    width: 21.45833vw;
    height: 3.541vw;
    background-color: #e3530c;
    border-radius: 3px;
    font-family: Rubik, sans-serif;
    font-weight: 700;
    font-size: 1.093vw;
    line-height: 2.7vw;
    text-transform: uppercase;
    color: #f2f2f2;
    text-decoration: none;
    text-align: center
}

#tour .hashtag .tour-check-btn:hover {
    cursor: pointer
}

#tour .tour-select .country-selected {
    margin-top: 10.41667vw;
    display: inline-block
}

#tour .tour-select .country-selected .tour-check-btn {
    display: block;
    margin-top: 3.541vw;
    width: 21.45833vw;
    height: 3.541vw;
    background-color: #e3530c;
    border-radius: 3px;
    font-family: Rubik, sans-serif;
    font-weight: 700;
    font-size: 1.093vw;
    line-height: 2.7vw;
    text-transform: uppercase;
    color: #f2f2f2;
    text-decoration: none;
    text-align: center
}

#tour .tour-select .country-selected .tour-check-btn:hover {
    cursor: pointer
}

#tour .tour-select .country-selected .checked-country h1 {
    display: block;
    margin-top: 1.77vw;
    width: 21.45833vw;
    height: 2.864vw;
    border: 2px solid #f2f2f2;
    border-radius: 3px;
    font-family: Rubik, sans-serif;
    font-weight: 700;
    font-size: .833vw;
    line-height: 2.7vw;
    text-transform: uppercase;
    color: #e3530c;
    text-decoration: none;
    text-align: center
}

#tour .tour-select .country-selected .checked-country h1:hover {
    background-color: #e3530c;
    border: none;
    border-radius: 3px;
    color: #f2f2f2;
    cursor: pointer
}

#tour .tour-select .budget-selected {
    margin-top: 18.22917vw;
    display: inline-block
}

#tour .tour-select .budget-selected .budget h1 {
    font-family: Rubik, sans-serif;
    font-size: 1.093vw;
    text-transform: uppercase;
    font-weight: 700;
    color: #e3530c;
    margin-bottom: 1.093vw
}

#tour .tour-select .budget-selected .budget input {
    padding-left: 1.093vw;
    width: 21.45833vw;
    height: 2.864vw;
    border: 2px solid #f2f2f2;
    border-radius: 3px;
    font-family: Rubik, sans-serif;
    font-size: 1.093vw;
    line-height: 2.34375vw;
    font-weight: 700;
    color: #969696;
    background-size: 1.77vw
}

#tour .tour-select .budget-selected .tour-check-btn {
    display: block;
    margin-top: 3.541vw;
    width: 21.45833vw;
    height: 3.541vw;
    background-color: #e3530c;
    border-radius: 3px;
    font-family: Rubik, sans-serif;
    font-weight: 700;
    font-size: 1.093vw;
    line-height: 2.7vw;
    text-transform: uppercase;
    color: #f2f2f2;
    text-decoration: none;
    text-align: center
}

#tour .tour-select .budget-selected .tour-check-btn:hover {
    cursor: pointer
}

#tour .tour-select .budget-selected .checked-budget h1 {
    display: block;
    margin-top: 1.77vw;
    width: 21.45833vw;
    height: 2.864vw;
    border: 2px solid #f2f2f2;
    border-radius: 3px;
    font-family: Rubik, sans-serif;
    font-weight: 700;
    font-size: .833vw;
    line-height: 2.7vw;
    text-transform: uppercase;
    color: #e3530c;
    text-decoration: none;
    text-align: center
}

#tour .tour-select .budget-selected .checked-budget h1:hover {
    background-color: #e3530c;
    border: none;
    border-radius: 3px;
    color: #f2f2f2;
    cursor: pointer
}

#tour .question-form {
    margin-top: 7.8125vw
}

#tour .question-form .form h1 {
    font-family: Rubik, sans-serif;
    font-size: 1.093vw;
    text-transform: uppercase;
    font-weight: 700;
    color: #e3530c;
    margin-bottom: 1.093vw
}

#tour .question-form .form input {
    padding-left: 1.093vw;
    height: 2.864vw;
    border: 2px solid #f2f2f2;
    border-radius: 3px;
    line-height: 2.34375vw;
    color: #969696;
    background-size: 1.77vw;
    margin-bottom: 1.77vw
}

#tour .question-form .form input, #tour .question-form .tour-check-btn {
    width: 21.45833vw;
    font-family: Rubik, sans-serif;
    font-size: 1.093vw;
    font-weight: 700
}

#tour .question-form .tour-check-btn {
    display: block;
    margin-top: 3.541vw;
    height: 3.541vw;
    background-color: #e3530c;
    border-radius: 3px;
    line-height: 2.7vw;
    text-transform: uppercase;
    color: #f2f2f2;
    text-decoration: none;
    text-align: center
}

#tour .question-form .tour-check-btn:hover {
    cursor: pointer
}

#tour .contact-message {
    margin-top: 15.625vw
}

#tour .contact-message h1 {
    font-size: 1.354vw;
    color: #e3530c;
    margin-bottom: 1.093vw;
    line-height: 2.187vw
}

#tour .contact-message .close-btn, #tour .contact-message h1 {
    font-family: Rubik, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center
}

#tour .contact-message .close-btn {
    display: block;
    margin-top: 3.541vw;
    width: 21.45833vw;
    height: 3.541vw;
    background-color: #e3530c;
    border-radius: 3px;
    font-size: 1.093vw;
    line-height: 2.7vw;
    color: #f2f2f2;
    text-decoration: none
}

#tour .contact-message .close-btn:hover {
    cursor: pointer
}

#video-background {
    position: relative;
    overflow: hidden;
    height: 100vh;
    vertical-align: middle
}

#video-background:after {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(80, 50, 20, .5);
    z-index: 2;
    display: block
}

#video-background iframe {
    position: absolute;
    z-index: 1
}

#video-background .content-container {
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0
}

#video-background .content-container .content {
    width: 44.27083vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3
}

#video-background .content-container .content h1 {
    font-family: Rubik, sans-serif;
    font-size: 2.187vw;
    color: #f2f2f2;
    margin-bottom: .933vw
}

#video-background .content-container .content p {
    font-family: Rubik, sans-serif;
    font-size: 1.354vw;
    color: #f2f2f2
}

#video-background .content-container .content .content-btn {
    display: inline-block;
    margin-top: 1.77vw;
    width: 15vw;
    height: 2.864vw;
    border: 2px solid #f2f2f2;
    border-radius: 3px;
    font-family: Rubik, sans-serif;
    font-weight: 700;
    font-size: 1.093vw;
    line-height: 2.7vw;
    text-transform: uppercase;
    color: #f2f2f2;
    text-decoration: none;
    text-align: center
}

#video-background .content-container .content .content-btn:hover {
    background-color: #f2f2f2;
    color: #e3530c
}

#intro {
    width: 100%;
    padding: 3.541vw;
    background: url("./../img/intro-bg.26cc2cd.jpg") no-repeat 50%;
    background-size: cover
}

#intro .intro-background {
    position: absolute;
    width: 100%;
    height: 26.875vw
}

#intro .intro-content {
    display: block;
    margin: 0 auto;
    width: 60%
}

#intro .intro-content .icon {
    display: block;
    width: 3.541vw;
    height: 3.541vw;
    margin: 0 auto
}

#intro .intro-content h1 {
    margin: 2.187vw 0;
    font-family: Rubik, sans-serif;
    font-size: 1.77vw;
    font-weight: 700;
    text-transform: uppercase;
    color: #42574b;
    text-align: center
}

#intro .intro-content p {
    font-size: 1.354vw;
    font-family: Rubik, sans-serif;
    color: #969696
}

#intro .intro-content .col-50 {
    display: inline-block;
    width: calc(50% - 1.77vw);
    margin: 0 .833vw
}

#navigation {
    width: 100%;
    height: 3.541vw;
    background-color: #242424;
    padding: 0 2.187vw
}

#navigation .nav {
    display: inline-block
}

#navigation .nav select {
    display: inline-block;
    width: 12.135vw;
    height: 3.541vw;
    border: none;
    font-family: Rubik, sans-serif;
    font-size: 1.354vw;
    color: #f2f2f2;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMSIgZGF0YS1uYW1lPSLQodC70L7QuSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMyAxMC41NyI+DQogIDxkZWZzPg0KICAgIDxzdHlsZT4NCiAgICAgIC5jbHMtMSB7DQogICAgICAgIGZpbGw6IG5vbmU7DQogICAgICAgIHN0cm9rZTogI2ZmZjsNCiAgICAgICAgc3Ryb2tlLWxpbmVjYXA6IHJvdW5kOw0KICAgICAgICBzdHJva2UtbGluZWpvaW46IHJvdW5kOw0KICAgICAgICBzdHJva2Utd2lkdGg6IDNweDsNCiAgICAgIH0NCiAgICA8L3N0eWxlPg0KICA8L2RlZnM+DQogIDx0aXRsZT5hcnJvdzwvdGl0bGU+DQogIDxwb2x5bGluZSBjbGFzcz0iY2xzLTEiIHBvaW50cz0iMS41IDEuNSA2LjUgOS4wNyAxMS41IDEuNSIvPg0KPC9zdmc+DQo=) no-repeat 100%;
    background-size: .52083vw;
    -webkit-appearance: none
}

#navigation .icon {
    display: inline-block;
    width: 1.354vw;
    height: 3.541vw;
    float: right
}

#country-list .country .description {
    display: inline-block;
    width: 41.66667vw;
    height: 33.33333vw;
    vertical-align: top;
    padding: 6.92708vw;
    text-align: center;
    position: relative
}

#country-list .country .description .icon {
    display: block;
    width: 2.864vw;
    height: 3.541vw;
    margin: auto;
    margin-bottom: .933vw
}

#country-list .country .description h1 {
    font-family: Rubik, sans-serif;
    font-size: 2.187vw;
    text-transform: uppercase;
    color: #f2f2f2;
    text-align: center;
    margin-bottom: 1.354vw
}

#country-list .country .description p {
    font-family: Rubik, sans-serif;
    font-size: 1.093vw;
    color: #f2f2f2;
    text-align: center
}

#country-list .country .description .get-more-btn {
    width: 15vw;
    height: 2.864vw;
    background-color: #f2f2f2;
    border-radius: 3px;
    font-family: Rubik, sans-serif;
    font-size: 1.093vw;
    font-weight: 700;
    text-transform: uppercase;
    color: #e3530c;
    margin-top: 2.864vw
}

#country-list .country .description .get-more-btn:hover {
    cursor: pointer
}

#country-list .country .description #dot-icon {
    position: absolute;
    z-index: 44
}

#country-list .country .description #dot-icon.thailand {
    right: 9.63542vw;
    bottom: 9.375vw
}

#country-list .country .description #dot-icon.italy {
    left: 4.42708vw;
    bottom: 19.01042vw
}

#country-list .country .description #dot-icon.austria {
    left: 5.46875vw;
    bottom: 19.79167vw
}

#country-list .country .description #dot-icon.new-zealand {
    right: 4.32292vw;
    bottom: 11.97917vw
}

#country-list .country .description #dot-icon.japan {
    right: 2.96875vw;
    bottom: 11.45833vw
}

#country-list .country .description #dot-icon .pulse-css {
    width: .933vw;
    height: .933vw;
    border-radius: .4665vw;
    background: #698173;
    position: relative
}

#country-list .country .description #dot-icon .pulse-css:after, #country-list .country .description #dot-icon .pulse-css:before {
    content: "";
    width: .933vw;
    height: .933vw;
    border-radius: .4665vw;
    background-color: #698173;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transform: scale(.5);
    transform-origin: center center;
    animation: pulse-me 4s linear infinite
}

#country-list .country .description #dot-icon .pulse-css:after {
    animation-delay: 2s
}

@keyframes pulse-me {
    0% {
        transform: scale(2);
        opacity: 0
    }
    50% {
        opacity: .3
    }
    70% {
        opacity: .1
    }
    to {
        transform: scale(10);
        opacity: 0
    }
}

#country-list .country .photos-top {
    display: inline-block;
    width: calc(100% - 41.66667vw);
    background-color: #008b8b;
    height: 16.66667vw;
    vertical-align: top
}

#country-list .country .photos-top img {
    display: inline-block
}

#country-list .country .slider {
    display: inline-block;
    width: calc(100% - 41.66667vw)
}

#country-list .country .slider .thailand img {
    width: 57.29167vw;
    height: 33.33333vw
}

#country-list .country.austria .description, #country-list .country.italy .description, #country-list .country.thailand .description {
    background: url("./../img/bangkok.402c219.jpg") no-repeat 50%;
    background-size: cover;
    margin-bottom: 1.093vw
}

#country-list .country.new-zealand .description {
    background: url("./../img/new-zealand.5758a9e.jpg") no-repeat 50%;
    background-size: cover;
    margin-bottom: 1.093vw
}

#country-list .country.japan .description {
    background: url("./../img/japan.989330e.jpg") no-repeat 50%;
    background-size: cover
}

#instagram-photos .instagram {
    text-align: center;
    margin-top: 3.541vw
}

#instagram-photos .instagram .icon {
    width: 3.541vw;
    height: 3.541vw;
    margin: 0 auto
}

#instagram-photos .instagram h1 {
    font-family: Rubik, sans-serif;
    font-size: 2.187vw;
    font-weight: 700;
    color: #42574b;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1.354vw;
    margin-bottom: 1.77vw
}

footer {
    height: 3.541vw;
    border-top: 3px solid #f2f2f2;
    text-align: center
}

footer h2 {
    float: left;
    margin-left: 2.187vw
}

footer h2, footer h3 {
    font-family: Rubik, sans-serif;
    font-size: .833vw;
    line-height: 3.541vw;
    font-weight: 500;
    color: #969696
}

footer h3 {
    float: right;
    margin-right: 2.187vw
}

body, html {
    font-size: 0
}

/*# sourceMappingURL=app.5d5b24dc42d9a91e04066b425fc09a52.css.map */